/* =Media styles
----------------------------------------------- */

img {
	max-width: 100%;
	height: auto;
}

.alignnone {@include images;} 
.alignright {@extend .alignnone; float: right; margin: 0 0 2em 2em;}
.alignleft {@extend .alignnone; float: left; margin: 0 2em 2em 0;}
.aligncenter {@extend .alignnone; margin: 2em auto; display: block;}

.img-border {@include images-border;}

.comment-content img.wp-smiley {
	@include no-border;
	margin: 0 1em;
}

.wp-caption {
	border: 1px solid $lightgrey;
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	text-align: center;
}

.gallery {
	margin-bottom: 1.5em;

	figure {
		display: inline-block;
		padding: 0 1rem;
	}

	a img {
		border: none;
	}

	&.gallery-columns-2 {
		figure {      
			width: 50%;
		}
	}

	&.gallery-columns-3 {
		figure {      
			width: 33%;
		}
	}

	&.gallery-columns-4 {
		figure {      
			width: 25%;
		}
	}
}

.gallery-caption {display: block;}