/* =Styles used for all static pages
----------------------------------------------- */

/* Page Headers */

.entry-content {
	margin: 2em 0 0;
}

h1.entry-title {
	margin: 0;
}

/* Page Body */
.hentry {
	margin: 2em 0 2.5em;
}