/* =Styles used for search items
----------------------------------------------- */

.search-results {
	.search-entry-title {
		.fa-search {
			font-size: 0.64em;
			vertical-align: middle;
		}
	}

	.entry-summary {
		margin: 1em 0 2em;
	}
}
